In [55]:
import pandas as pd

In [56]:
def read():
    df = pd.read_excel("../../../data/TX/23-9-29 (Unique IDs)/psr-data-services-20231220144255.xlsx")
    return df

In [57]:
df = read()

In [58]:
df = df.rename(columns={"FNAME": "first_name", "MNAME": "middle_name", "LNAME": "last_name", "RACE": "race", "GENDER": "gender"})

In [59]:
df

,UN_ID,first_name,middle_name,last_name,SUFFIX,CITIZEN,race,gender,PEOPLE_STATUS,HIGH_SCHOOL,GED,APPOINTMENT,COUNTY,DEPARTMENT,LICENSE,NEW_APPLICANT,ST_DATE,END_DATE,SERVICE_TIME_MONTHS
0,1,JOSEPH,W,BINGS,NaN,1,Black or African American,M,NaN,True,False,NaN,NaN,NaN,NaN,False,NaT,NaT,NaN
1,2,PAUL,L,HAYES,NaN,1,White,M,NaN,True,False,NaN,NaN,NaN,NaN,False,NaT,NaT,NaN
2,3,BARBARA,A,STANLEY,NaN,1,White,F,NaN,True,False,NaN,NaN,NaN,NaN,False,NaT,NaT,NaN
3,4,FREDERICK,E,O'NEILL,NaN,1,White,M,NaN,False,False,Jailer,TRAVIS,TRAVIS CO. SHERIFF'S OFFICE,Jailer License,False,1991-04-07,1998-02-16,82.0
4,4,FREDERICK,E,O'NEILL,NaN,1,White,M,NaN,False,False,Peace Officer,TRAVIS,TRAVIS CO. SHERIFF'S OFFICE,Peace Officer License,False,1996-01-06,2001-08-31,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822439,366261,Mateo,A,Rodriguez,NaN,1,Hispanic,M,NaN,True,False,Telecommunications Operator,NUECES,CORPUS CHRISTI POLICE DEPT.,Temporary Telecommunications Operator License,False,2023-09-26,NaT,0.0
822440,366262,Logan,S,Stewart,NaN,1,White,M,NaN,True,False,Jailer,BASTROP,BASTROP CO. SHERIFF'S OFFICE,Temporary Jailer License,True,2023-10-02,NaT,-1.0
822441,366263,Leah,M,Dobbs,NaN,1,White,F,NaN,True,False,Jailer,BASTROP,BASTROP CO. SHERIFF'S OFFICE,Temporary Jailer License,True,2023-10-02,NaT,-1.0
822442,366264,Nahjea,S,Ware,NaN,1,Black or African American,F,NaN,True,False,Jailer,SMITH,SMITH CO. SHERIFF'S OFFICE,Temporary Jailer License,True,2023-10-08,NaT,-1.0
822443,366265,Merlyn,G,Rodriguez,NaN,1,Hispanic,F,NaN,True,False,Telecommunications Operator,BRAZORIA,ANGLETON POLICE DEPT.,Temporary Telecommunications Operator License,False,2023-09-26,NaT,0.0

In [60]:
def clean_dates(df):
    # Convert the 'ST_DATE' column to datetime
    df['start_date'] = pd.to_datetime(df['ST_DATE'])

    # Format the dates as 'Month Day, Year'
    df['start_date'] = df['start_date'].dt.strftime('%m/%d/%Y')

        # Convert the 'ST_DATE' column to datetime
    df['end_date'] = pd.to_datetime(df['END_DATE'])

    # Format the dates as 'Month Day, Year'
    df['end_date'] = df['end_date'].dt.strftime('%m/%d/%Y')
    return df.drop(columns=["ST_DATE", "END_DATE"])

df = df.pipe(clean_dates)

In [62]:
def clean_names(df):
    df.loc[:, "first_name"] = df.first_name.str.lower().str.strip()
    df.loc[:, "middle_name"] = df.middle_name.str.lower().str.strip()
    df.loc[:, "last_name"] = df.last_name.str.lower().str.strip()
    return df 

df = df.pipe(clean_names)

In [63]:
df

,UN_ID,first_name,middle_name,last_name,SUFFIX,CITIZEN,race,gender,PEOPLE_STATUS,HIGH_SCHOOL,GED,APPOINTMENT,COUNTY,DEPARTMENT,LICENSE,NEW_APPLICANT,SERVICE_TIME_MONTHS,start_date,end_date
0,1,joseph,w,bings,NaN,1,Black or African American,M,NaN,True,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
1,2,paul,l,hayes,NaN,1,White,M,NaN,True,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
2,3,barbara,a,stanley,NaN,1,White,F,NaN,True,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
3,4,frederick,e,o'neill,NaN,1,White,M,NaN,False,False,Jailer,TRAVIS,TRAVIS CO. SHERIFF'S OFFICE,Jailer License,False,82.0,04/07/1991,02/16/1998
4,4,frederick,e,o'neill,NaN,1,White,M,NaN,False,False,Peace Officer,TRAVIS,TRAVIS CO. SHERIFF'S OFFICE,Peace Officer License,False,67.0,01/06/1996,08/31/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822439,366261,mateo,a,rodriguez,NaN,1,Hispanic,M,NaN,True,False,Telecommunications Operator,NUECES,CORPUS CHRISTI POLICE DEPT.,Temporary Telecommunications Operator License,False,0.0,09/26/2023,NaN
822440,366262,logan,s,stewart,NaN,1,White,M,NaN,True,False,Jailer,BASTROP,BASTROP CO. SHERIFF'S OFFICE,Temporary Jailer License,True,-1.0,10/02/2023,NaN
822441,366263,leah,m,dobbs,NaN,1,White,F,NaN,True,False,Jailer,BASTROP,BASTROP CO. SHERIFF'S OFFICE,Temporary Jailer License,True,-1.0,10/02/2023,NaN
822442,366264,nahjea,s,ware,NaN,1,Black or African American,F,NaN,True,False,Jailer,SMITH,SMITH CO. SHERIFF'S OFFICE,Temporary Jailer License,True,-1.0,10/08/2023,NaN
822443,366265,merlyn,g,rodriguez,NaN,1,Hispanic,F,NaN,True,False,Telecommunications Operator,BRAZORIA,ANGLETON POLICE DEPT.,Temporary Telecommunications Operator License,False,0.0,09/26/2023,NaN